body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    
    /* backface-visibility: hidden; */
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        line-height: 1.7 !important;
        /* text-align: center; */
        
        animation: moveInLeft 1.5s ease-in-out; 

        @include respond(md) {
            letter-spacing: 2rem;
            font-size: 5.5rem;
        }

        @include respond(sm) {
            letter-spacing: .8rem;
            font-size: 4rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
        line-height: 1.5 !important;
        animation: moveInRight 1.5s ease-in-out;

        @include respond(md) {
            font-size: 1.7rem;
            letter-spacing: .5rem;
        }

        @include respond(sm) {
            font-size: 1.4rem;
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(lg) {
        font-size: 3rem;
    }

    @include respond(sm) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom:  3rem;
    }
}

